  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">Usuário</label>
    <input [(ngModel)]="user" type="text" required class="form-control" id="InputUser" placeholder="Digite o usuário">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input [(ngModel)]="pass" type="password" class="form-control" id="InputSenha" placeholder="Digite a senha">
  </div>
  <button type="button" (click)="login()" class="btn btn-primary">Logar</button>

  <p>{{msg}}</p>
